* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(216, 216, 220);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

/* styling for navigation bar */
.container-fluid, .container_login{
    text-emphasis-color: black;
    background-color: #b7b8b9; 
    margin-top: auto;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}
/* main menu for naviagation bar */
.container-fluid a, .container_login a{
    color: black;
    font-size: 1.15rem;
    font-weight: 500;
    margin-left: 0.1rem;
}

 



/* styliing for social media icon  */
.footer {
    padding: 0 12px;
    background-color: #a9abae;
    text-align: center;

}

.social-media-icon{
    font-size: 34px;
    margin: 0 120px;
    margin-right: 20px;
    justify-content: center;    
    
    
    

}

.social-media-icon a {
    text-decoration: none;
}



