{% load static %}
<!DOCTYPE html>
<html>
    <head>
          <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'css\main.css' %}">

      
          {%if title %}
              <title>customer post {{title}} </title>
          {%else %}
              <title>customer_post</title>
          {%endif%}

    </head>
    
    <body>
      <div class='container '>
            
       

        <nav class="navbar navbar-expand-lg navbar-ligh bg-light">
            <!-- this button toggle the navigation menu on  small screens-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Home</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'product'%}">Product</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'inventory'%}">Inventory</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'customer' %}">Customer</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'order'%}">Order</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'about'%}">About</a>
                  </li>

                </ul>

                

                <!--<form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>-->

              </div>
            </div>
            <div class='container_login'>
              <div class='collapse navbar-collapse' id='navbarNav'>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login'%}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Join</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          

          

          <!--The body of other html file will display here-->
            <div class='container'><br><br>
                {% block content%} {% endblock%}
            </div>
        
      </div>

      <footer class='footer'>
        <div class='container'>
          <div class='row'>
            <div class='social-media-icon'>
              <a href='' class='text-primary social-media-icon'><i class='fab fa-facebook-f'></i></a>
              <a href='#' class='text-info social-media-icon'><i class='fab fa-twitter'></i></a>
              <a href='#' class='text-danger social-media-icon'><i class='fab fa-instagram'></i></a>
              <a href='https://call.whatsapp.com/video/pCgWbFX39lLLV5QWY2KjyT' class='text-success social-media-icon'><i class='fab fa-whatsapp' style='color: green;'></i></a>
          </div>
          </div>
        </div>
      </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>