{% extends 'ecommerce/template/ecommerce/base.html' %}

{% block content %}

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="p-4 d-flex border-bottom justify-content-center">Custom Cards</h2>
    
    <div class='row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5'>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Custom card 1</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <!-- some items-->
                        </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Custom card 2</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <!-- some items-->
                        </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Custom card 3</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <!-- some items-->
                        </ul>
                </div>
            </div>
        </div>
    </div>
  </div>


  


{% endblock content%}

