{% extends 'ecommerce/template/ecommerce/base.html' %}

{% block content %}

    <table class='table align-middle  '>
        <thead class='bg-black'>
            <tr>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Quantity in stock </th>
                <th>Price</th>
                <th>Manufacturer</th>
                <th>Released date</th>
                <th>Modify</th>
                <th>Delete</th>
                <th>Select item</th>
            </tr>
        </thead>

        <tbody>
            {% for product in product%}
                <td>
                    <p>{{product.product_code}}</p>
                </td>
            {% endfor %}
        </tbody>
    </table>

    <!--table body content-->
  


{% endblock content%}

